body{
    font-family: Arial, sans-serif;
    text-align: center;
    font-size: 18px;
  }
.nav{
  text-align: left;
}

img{
    height: 250px;
}
img.logo{
    height: 200px;
}
p{
    line-height: 20px;
}
h1, h2{
    font-weight: 400;
    line-height: 10px;
}
a:link, a:visited {
    background-color:blue;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  a:hover, a:active {
    background-color: royalblue;
  }